h1 {
    color: #E87409;
    font-family: Chango, Helvetica, sans-serif;
}
body {
    background: linear-gradient(to bottom, #00ccff  0%, #ff9933  100%);
}
span {
    color: #E87409;
	font-family: 'DotGothic16', sans-serif;
}
#helloWorld {
    text-align: right; 
}
div.centered {
    text-align: center;
}
a.button {
    text-decoration: none;
}